/* --------- Utilities --------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------- Header and Navigation bar styles ---------- */
.header {
    padding-top: 50px;
    width: 100%;
    height: 1300px;
    background-color: rgba(255, 144, 14, 0.1);
}

.logo {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.navigation {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 30px;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navigation li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

.header-details {
    text-align: center;
}

.header-title {
    font-weight: 700;
    font-size: 60px;
}

.header-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 30px 450px;
}

.primary-button {
    color: aliceblue;
    width: 170px;
    height: 60px;
    background-color: #FF900E;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 40px;
}

.primary-button:hover {
    letter-spacing: 0.8px;
    transition: 0.5s;
    cursor: pointer;
}

.header-details img {
    height: 700;
    width: 1400px;
    margin: 0 auto;
}

/* --------- Features styles ------------ */
.features {
    display: flex;
    gap: 75px;
    margin: 150px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.features-images img {
    height: 300px;
    width: 300px;
}

.feature-details {
    padding-top: 150px;
    padding-right: 85px;
}

#part-1 {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

#part-2,
.feature-list-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

#part-3 {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.feature-title {
    margin-bottom: 30px;
}

.feature-description,
.list-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

/* --------- Feature info list styles ---------- */
.feature-info {
    display: flex;
    gap: 50px;
    margin: 0 150px;
}

.list-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}

.list-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}

.list-heading {
    display: flex;
}

.list-heading img {
    height: 100px;
    width: 5px;
    background-color: #FF900E;
}

.feature-list-title {
    padding-left: 10px;
    margin-bottom: 20px;
}

.list-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.list-item .list-description {
    margin-bottom: 0;
}

.image-button-container {
    width: 800px;
    height: 1000px;
}

.architecture img {
    height: 920px;
    padding-left: 90px;
}

.secondary-button {
    width: 320px;
    height: 180px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -80px;
}

.secondary-button:hover {
    letter-spacing: 4px;
    transition: 0.5s;
    cursor: pointer;

}

#text-1 {
    font-weight: 700;
    font-size: 55px;
    color: aliceblue;
}

#text-2 {
    font-weight: 600;
    font-size: 20px;
    color: aliceblue;
}

/* -------------- Some facts styles ----------- */
.some-facts {
    margin: 150px;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-info,
.fact-description {
    color: #727272;
    font-weight: 500;

}

.facts-containers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    padding: 0 30px;
    margin-top: 80px;
}

.fact {
    height: 220px;
    width: 220px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 7px;
    padding-top: 45px;
    transition: 1s;
}

.fact:hover {
    transform: scale(1.3);
    background: linear-gradient(rgb(247, 217, 162), rgb(255, 255, 255), rgb(252, 198, 207));
    cursor: pointer;
}

.fact-number {
    font-weight: 600;
    font-size: 40px;
}

/* ---------- Contact us styles --------- */
.contact-us {
    width: 1200px;
    background: linear-gradient(to bottom, rgb(248, 209, 137), rgb(255, 249, 249));
    margin-left: 160px;
    margin-bottom: 80px;
    border-radius: 8px;
}

.contact-us h2 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 60px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

#name,
#email,
#textarea {
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
}

#textarea {
    height: 70px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.contact-us .primary-button {
    margin-left: 430px;
}

/* ----------- Our Sponsors styles ----------  */
.our-sponsors {
    text-align: center;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 80px;
    padding: 0 50px;
}

.sponsors img {
    height: 45px;
    width: 160px;
    filter: grayscale(100%);
    transition: 1s;
}

.sponsors img:hover {
    cursor: pointer;
    filter: grayscale(0%);
    transform: rotate(-10deg);
}

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FFF4E7;
    width: 1220px;
    height: 80px;
    padding: 30px 0px;
    margin: 0 90px 50px 150px;
}

/* --------------- End of CSS ---------------  */